@import '../../css/utils/constans.scss';
$heightMedia: 0.5rem;
$heightNormal: 1.5rem;

@mixin textMark() {
  text-align: center;
  position: relative;
  left: 8rem;
  max-width: 12rem;
  height: $heightNormal;
  display: flex;
  align-items: center;
  padding: 0px 2px 2px;
}

.mark {
  @include textMark();
}

.yellowMark {
  background-color: $yellow;
  @include textMark();
}

.greenMark {
  background-color: $darkGreen;
  @include textMark();
}
.whiteMark {
  background-color: $white;
  @include textMark();
}

@media screen and (max-width: 750px) {
  .mark,
  .yellowMark,
  .greenMark {
    text-align: center;
    position: relative;
    left: 5rem;
    max-width: 6rem;
    padding: 1px;
  }
}
