@import '../../css/utils/constans.scss';

// .homeCotainerTit {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   position: relative;
//   bottom: 3rem;
// }

// .homeItemsTit {
//   display: flex;
//   flex-direction: column;
//   margin: 1rem;
//   justify-content: space-between;
//   align-items: center;
// }
.homePubTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppImageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.titleAndImagesContainer {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-basis: 100%;
    flex: 1;
  }
}

.AppImageItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.AppImagePizzaItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
