.App {
  max-width: 78rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  margin-top: 0%;
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppImageContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.AppImageBlock {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.AppImageItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.AppImagePizzaBlock {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.AppImagePizzaItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
}

@media screen and (max-width: 750px) {
  .AppImageBlock {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 750px) {
  .AppImageContainer {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 750px) {
  .AppImageItems,
  .AppImagePizzaItems {
    max-width: 9rem;
    justify-content: flex-end;
  }
}
