.announceContext {
  max-width: 38rem;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: -5rem;
}

.titleAnnounce {
  text-align: center;
}

.announceItems {
  max-width: 27rem;
  word-break: break-all;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}

@media screen and (max-width: 750px) {
  .announceContext {
    margin: 0 auto;
    position: relative;
    top: -1rem;
  }
  .announceItems {
    max-width: 16rem;
  }
}
